@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-gap: 1em;
    grid-template-areas:
        "Titulo Titulo Titulo Titulo Titulo"
        "obcionesIzquierda centro centro centro obcionesDerecha"
        "obcionesIzquierda centro centro centro obcionesDerecha"
        "obcionesIzquierda centro centro centro obcionesDerecha"
        "obcionesIzquierda centro centro centro obcionesDerecha"
        "obcionesIzquierda centro centro centro obcionesDerecha"
        "obcionesIzquierda centro centro centro obcionesDerecha"
        "obcionesIzquierda centro centro centro obcionesDerecha"
        "barraNavegacion barraNavegacion barraNavegacion barraNavegacion barraNavegacion";
}
.Titulo{
    background-color: rgb(216, 216, 25);
    grid-area: Titulo;
}
.obcionesDerecha{
    background-color: rgb(199, 141, 16);
    grid-area: obcionesDerecha;
}
.obcionesIzquierda{
    background-color: rgb(33, 238, 84);
    grid-area: obcionesIzquierda;
}
.centro{
    background-color: rgb(28, 185, 151);
    grid-area: centro;
}
.barraNavegacion {
    background-color: rgb(88, 32, 139);
    grid-area: barraNavegacion;
}
